ion-button {
    --background: #ffff;
    --color: #676565;
  --box-shadow: none;
    margin: 1rem;
    width: 50px;
    height: 50px;
    --border-radius: 50%;
}

.conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.controls {
    background-color: #163172;
    color: white;
    border: 5px solid #d6e4f0;
    border-radius: 10px;
    width: 70%;
    padding: 0.5rem;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
  color: #f6f6f6;
  margin-right: 8rem;
  font-weight: 100;
}

p {
  color: #f6f6f6;
  font-size: 1rem;
  width: 80%;
  text-align: left;
  margin: 1rem auto;
}

hr {
  width: 80%;
  color: #ffff;
}
