<ion-content id="main-content">

  <app-menu></app-menu>

  <div class="container">

    <div class="title-div">
      <img src="/assets/noun-urinate-637615.png" alt="icon of a man who urinates">
      <ion-title>ABOUT APP</ion-title>
    </div>

      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit blanditiis quia excepturi quam inventore, omnis error dolorem, distinctio nostrum, nulla minima. Doloremque iste dolores delectus consequuntur dicta ipsam? Sunt, asperiores.
      Laborum vel mollitia recusandae magnam illum sed tenetur suscipit, ipsa eius distinctio soluta facilis odio atque dolorem nulla totam nostrum dolorum provident, ducimus ad perspiciatis laboriosam! Fuga totam unde distinctio!
      Aut dolores nam et optio officia itaque temporibus repudiandae dicta deleniti. Veniam asperiores culpa ipsam in harum incidunt consequatur modi odit facilis, quod, dolorum deleniti totam consectetur saepe fugiat eum.
      Cumque blanditiis at maxime illo iure modi aut iusto, asperiores tempora deserunt quam esse quibusdam dolorum eum necessitatibus quae tenetur error fuga nostrum aliquid? Dolor eum delectus dicta. Quae, iste.
      Excepturi, itaque explicabo ipsam alias beatae tempora accusantium in a ipsa fugit aperiam quibusdam eius! Earum doloremque voluptate unde aut, atque voluptates. Autem ducimus atque cupiditate tenetur eos iure rerum?</p>
  </div>

  <app-footer></app-footer>
    
</ion-content>
