.title-div {
    display: flex;
    justify-content: left;
    align-items: center;
}

.space {
    margin-bottom: 10rem;
}

.sounds-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

img {
    height: 20vmin;
    filter: invert(99%) sepia(39%) saturate(2%) hue-rotate(237deg) brightness(113%) contrast(93%);
    margin: 0 2rem;
}

h1 {
    color: #ffe605;
    font-size: 1.5rem;
    margin-top: 2rem;
}

hr {
    width: 80%;
    color: #ffff;
}

span {
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem;
}

ion-button {
    --background: #163172;
    --color: #f6f6f6;
    border: 5px solid #d6e4f0;
    border-radius: 10px;
    width: 80%;
    margin: 5px;
}

.ion-text-right {
    margin-right: auto;
}
