body {
    display: grid;
    place-items: center;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: "Roboto";
    box-sizing: border-box;
}

ion-content {
    --background: #1E56a0;
}

ion-button {
    --ripple-color: #f6ff00;
}
